#submit_event {
    display: block;
    margin-bottom: 20px; 
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    text-align: center;
  }

#add-date-time {
    margin: 10px;
}

.schedule_container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Two equal columns */
    gap: 10px; /* Gap between columns */
    width: 100%;
    box-sizing: border-box;
}

.container {
    margin: 10px !important;
    padding: 10px !important;
    box-sizing: border-box !important;
    width: 100%  !important;
    justify-content: center  !important; /* Centers vertically */
    align-items: center !important; /* Centers horizontally */
    max-width: none !important;
}

.list-group-item{
    margin: 10px !important;
    padding: 10px !important;
    font-size: small;
}

body{
    margin: 0;
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
}

.box {
    padding: 10px;
    border: 1px solid #ccc;
}

.modal-content{
    border-width: 10px !important;
}