#submit_event {
    display: block;
    margin-bottom: 20px; 
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    text-align: center;
  }

#add-date-time {
    margin: 10px;
}

.schedule_container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Two equal columns */
    gap: 10px; /* Gap between columns */
    width: 100%;
    box-sizing: border-box;
}

#calendar {
    width: 900px; /* Set the desired width in pixels */
    height: 900px; /* Set the desired height in pixels */
    border: 1px solid #ccc; /* Optional border for visualization */
  }

.container {
    padding: 0px !important;
    box-sizing: border-box !important;
    width: 100%  !important;
    justify-content: center  !important; /* Centers vertically */
    align-items: center !important; /* Centers horizontally */
    max-width: none !important;
}

.trainer-info-container {
    box-sizing: border-box !important;
    width: 100%  !important;
    justify-content: center  !important; /* Centers vertically */
    align-items: center !important; /* Centers horizontally */
    max-width: none !important;
}

.login-container {
    display: flex;
    padding: 10px !important;
    margin: 10px !important;
    box-sizing: border-box !important;
    justify-content: center  !important; /* Centers vertically */
    align-items: center !important; /* Centers horizontally */
    max-width: none !important;
}


.list-group-item{
    margin: 10px !important;
    padding: 10px !important;
    font-size: small;
}

#trainerInfoFilter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
}

body{
    margin: 0;
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
}

.box {
    padding: 10px;
    /*border: 1px solid #ccc;*/
}

.modal-content{
    border-width: 10px !important;
}

.filterSection li {
    list-style: none;
    margin: 0px;
    padding: 2px;
    font-size:10px;
    display: inline;
     
}
.filterSection {
    margin: 0px;
    padding: 0px;
    background-color: #EEEEEE;
}


.trainer-checkbox {
    margin-right: 1px; /* Push the checkbox to the right side */
  }

.event-checkbox {
  margin-left: 1px; /* Push the checkbox to the right side */
}

.showItem {
    display: list-item !important;
}
.hideItem {
    display: none !important;
}
