#add-date-time {
    margin: 10px;
}

.logo {
  color: white;
  display: inline-block;
  margin-right: 5em;
}

.navbar-nav a {
  margin-right: 30px; /* Adjust the value as needed */
}

.schedule_container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Two equal columns */
    gap: 10px; /* Gap between columns */
    width: 100%;
    box-sizing: border-box;
}

#calendar {
    width: 900px; /* Set the desired width in pixels */
    height: 900px; /* Set the desired height in pixels */
    border: 1px solid #ccc; /* Optional border for visualization */
  }

.container {
    padding: 0px !important;
    box-sizing: border-box !important;
    width: 100%  !important;
    justify-content: center  !important; /* Centers vertically */
    align-items: center !important; /* Centers horizontally */
    max-width: none !important;
}

.trainer-info-container {
    display: grid;
    box-sizing: border-box !important;
    width: 100%  !important;
    max-width: none !important;
    grid-template-columns: 1fr 9fr;
}

.login-container {
    display: flex;
    padding: 10px !important;
    margin: 10px !important;
    box-sizing: border-box !important;
    justify-content: center  !important; /* Centers vertically */
    align-items: center !important; /* Centers horizontally */
    max-width: none !important;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container form {
  margin: 0 20px; /* Adjust the margin as needed */
}

.button-container{
  display: inline-block;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 5px;
}

.list-group-item{
    margin: 2px !important;
    padding: 10px !important;
    font-size: small;
}

ul {
  list-style: inside;
}

.trainerList {
  height:100vh;
}

#trainerInfoFilter {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px;
}

#advancedInfoFilter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0px;
}

body{
    margin: 0;
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
}

.box {
    padding: 10px;
    /*border: 1px solid #ccc;*/
}

.modal-content{
    border-width: 10px;
}

.modal-xl {
  max-width: 1300px;
}

#advancedSearch{
  height: 62vh !important;
  width: 100% !important;
  border: 0 !important;
}


.assign-trainers {
  height: 40vh;
  overflow-y: auto;
}

.email {
  font-size:smaller;
  padding: 4px;
  margin: 4px;
}


/*filtering*/
.filterSection li {
    list-style: none;
    margin: 0px;
    padding: 2px;
    font-size:10px;
    display: inline;
     
}

.trainerFilterSection ul {
  padding-left: 10px;
  padding-right:10px;
}

.trainerFilterSection li {
  list-style: none;
  margin: 0px;
  padding: 2px;
  font-size:10px;
}

.trainerFilterSection{
  background-color: #edeef0;
  height: 100vh;
  padding-top: 20px;
  width:min-content;
}

.filterSection {
    margin: 0px;
    padding: 0px;
    background-color: #EEEEEE;
}

.trainerList ul {
  padding: 0;
  margin: 0;
}

.trainerList li {
  margin-left: 14px;
  list-style: inside;
}

.trainer-checkbox {
    margin-right: 1px; /* Push the checkbox to the right side */
  }

.event-checkbox {
  margin-left: 1px; /* Push the checkbox to the right side */
}

input.star { /*star checkboxes*/
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}

.showItem {
    display: block !important;
}
.hideItem {
    display: none !important;
}

/*Autocomplete*/
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

  /*flash messages*/
  .alert-danger{
    color:white;
    background-color: red;
  }

  /*admin-notes*/ 
  textarea[readonly] {
    border: none;
}

/*trainer application page*/
#scheduler .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  display: none;
}

/*advanced search star*/
.starradio {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  background: url('unstarred_tspt.png') no-repeat;
  background-size: cover;
  cursor: pointer;
  border: none;
  outline: none;
}

.starradio:checked {
  background: url('starred_tspt.png') no-repeat;
  background-size: cover;
}

/*Trainer already assigned to event this day warning*/
.warningIcon {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  background: url('warning.png') no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  display: inline-block;
}

/*status colors*/
.New {
  color: #ff8503;
}

.Confirmed {
  color: #7f04d1;
}

.Tentative {
  color: #039e72;
}

.Scheduled {
  color: #03329e;
}

.Happened {
  color: grey;
}

.Canceled {
  color:grey;
}

/*availability summary*/

.vis-timeline {
  font-size: x-small !important;
}

.t1 {
  top: 0% !important;
  background-color: red;
}

.t2 {
  top: 0% !important;
  left: 0% !important;
}

/* advancedsearch tabs*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: inline-block;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}