<strong>What do CCAS events look like and what do volunteers do?</strong></br>
CCAS events can be divided into 2 main types. 1.) The first type is a classroom style training in
which we split time between a discussion and a practical at a ratio of 50:50. We mainly teach adult
Hands-Only CPR/AED, so the approximate timeline would be 35 minutes discussing the topic and 35
minutes practicing. 2.) The second type of event would be a health fair, at which we would teach
individuals as they visit our booth in 15-minute segments (with additional time for additional skills).
The primary responsibilities of a CCAS volunteer include event set-up, introduction to the crowd,
enacting a cardiac arrest event if comfortable/applicable, hands on instructing of life saving skills during
the practical portion of events, and clean-up. Trainers manage a group during the practical, observe skill
practice, and provide feedback such as “your rate is good, just push deeper and you're set” or “don't
forget to lock your elbows, you will use less energy this way”. </br>


<strong>What if I am asked a question that I don’t know the answer to? </strong></br>
During events, participants tend to have a lot of questions, especially once we break up into
smaller groups for the practical. It is common for them to ask about specifics you may not have learned in
a standard BLS class or never thought to question yourself. It is okay to say, “I don’t know”, and direct
them to someone who might, such as a supervising doctor at that training, CCAS staff, or if it relates with
their health- their own doctor.</br>

<strong>What if I need to cancel my signup for an event?</strong></br>
We understand that life happens. If you need to cancel, please email ccas@pitt.edu as soon as you
know you need to cancel, or if it is a possibility so we can plan someone to take your place. If you cancel
twice within 48 hours in a 3-month period, we will suspend your volunteer status temporarily. We need to
respect the time of those hosting events as much as we need to respect our own. If you miss due to illness
and you have a doctor's note, that can be submitted to exempt a cancellation.</br>

<strong>What should I wear?</strong></br>
Given that we do work in a variety of school settings, and have children present in events outside
of schools, we ask that your clothing does not contain profanity or disturbing/graphic imagery. If you
have a CCAS shirt we encourage trainers to wear them during events, but do not require them, especially
in warmer weather because they are long-sleeved shirts.
Trainers are gifted a CCAS shirt once they have worked 5 events with us.<br>
<strong>What's next?</strong></br>
Once your clearances are approved, we will send you the CCAS calendar link, which updates
automatically. If you want to sign up for an event, please let the Project Coordinator know via email
(ccas@pitt.edu) and you will be signed up. Please note some events are limited to how many trainers they
can have.
Once signed up, you will receive an Outlook calendar invite, as well as a reminder email 3 days
before an event. We ask that you come to all events 20 minutes prior to the start time for the Pre-Event
Huddle and setup. 