{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<script src="{{url_prefix}}/static/scripts/matching.js"></script>
<script src="{{url_prefix}}/static/scripts/base.js"></script>
</br>
<div class="page-title">
</div>
<div class="schedule_container">
  <div class="box">
    <h3>Requests</h3>
    <ul class="filterSection">
      Show:
      <li>
          <input checked="true" type="checkbox" value="New"/>
          <label>New</label>
      </li>
      <li>
          <input checked="true" type="checkbox" value="Confirmed"/>
          <label>Confirmed</label>
      </li>
      <li>
        <input type="checkbox" value="Canceled"/>
        <label>Canceled</label>
      </li>
  </ul>
  <div id="checkAll-uncheckAll">
    <input type= "button" onclick= 'check(".event-checkbox")' value= "View All"/>
    <input type= "button" onclick= 'unCheck(".event-checkbox")' value= "View None"/>
    <script>
      var trigger = new Event("change");
      function check(checkbox_class){
        var get= document.querySelectorAll(checkbox_class);
        for(var i= 0; i<get.length; i++){
        get[i].checked= true;
        get[i].dispatchEvent(trigger);}
        }
      function unCheck(checkbox_class){
        var get= document.querySelectorAll(checkbox_class);
        for(var i= 0; i<get.length; i++){
        get[i].checked= false;
        get[i].dispatchEvent(trigger);
      }
        }
    </script>
  </div>
    <!-- Event List -->
    <ul class="list-group list-group-flush" id="itemsToFilter">
      {% for event in events %}
      {% if event.status == "New" or event.status == "Confirmed" or event.status == "Canceled"%}
      <li
        id="event_{{event.id}}"
        class="list-group-item {% if event.status == 'Canceled' %} hideItem {% endif %}"
        data-type="{{event.status}}"
        style="border-width: 3px; {% if event.status != 'Canceled' %}border-color: {{ event_colors[event.status] }}; {% endif %}"
      >
      <input
      type="checkbox"
      class="event-checkbox"
      event-id = "{{ event.id }}"
      value = "{{event.status}}"
    >
        <strong><u>{{event.title}}</u></strong></br>
        <strong>Dates: </strong></br>
        <ul style="margin-left:12px; padding:0;">
          {% for date in event.dates %}
        {% if date.allDay%}
        <li>{{date.formatted_start_date}} - {{date.timeOfDay}}</li>
        {% else %}
        <li>{{date.formatted_start_date}} - {{date.formatted_end_time}}</li>
        {% endif %}
          {% endfor %}
        </ul>
          <strong>Status:</strong> <div class="update-status {{event.status}}" style="display: inline-block;"><strong>{{event.status}}</strong></div></br>
    <strong>Admin notes: </strong>{{event.admin_notes}}<br>
    <div class = "button-container">
      <button title="Details" id="details_{{event.id}}"class="show-event-details" onClick="showOrHideDropdown(this.id,'event','expand')">&#128899;</button> 
      <button title="Edit request" id="{{event.id}}"class="update-event-option" onClick="showOrHideDropdown(this.id,'update_div')"><img width="16" height="16" src="https://img.icons8.com/metro/26/pencil.png" alt="Edit request"/></button> 
      <div id="email-requester" style="display: inline-block;">
        <form id = "email-requester-form" action="mailto: {{event.email}}?subject=CCAS: Event request confirmation" method="post" enctype="text/plain">
          <input type="submit" class="email" value="Email contact">
          </form>
      </div>
    </div>
        <div id="update_div_{{ event.id }}" style="display:none;">
          <form id="update_form_{{ event.id }}"  name="update_form" action="/update-event" method="POST">
            <input type="hidden" name="update_form" value="1">
            <input type="hidden" name="update_id" value="{{event.id}}">
            <strong>New status: </strong>
            <select name="status" id="status_{{event.id}}">
              <option value="{{event.status}}" selected hidden>{{event.status}}</option>
              <option value="New">New</option>
              <option value="Confirmed">Confirmed</option>
              <option value="Canceled">Canceled</option>
            </select><br>
            <strong>New admin notes:</strong><br>
            <textarea id="admin_event_notes" name="admin_event_notes" rows="4" cols="50" style="font-size:10px;">{{event.admin_notes}}</textarea><br>
            <button type="submit" form = "update_form_{{ event.id }}" id="update_submit_{{ event.id }}" class="btn btn-primary">Update event</button>
          </form>
        </div>
        <div class="event-details">
          <div id="event_details_{{ event.id }}" style="display:none;">
            <p>Contact name: {{event.name}}</br>
            Email: {{event.email}}</br>
            Phone: {{event.phone}}</br>
            Desired training types: {{event.training_types}}</br>
            Mission: {{event.mission}}</br>
            # learners: {{event.num_learners}}</br>
            About learners: {{event.learners}}</br>
            Location: {{event.place}}</br>
            Chairs/tables: {{event.chairs_tables}}</br>
            Cultural considerations: {{event.cultural}}</br>
            Content concerns: {{content_concerns}}</br>
            Music: {{event.music}}</br>
            Photography permission: {{event.photos}}</br>
            Additional info: {{event.other_info}}
          </p>
          </div>
        </div>
      </li> 
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div id="calendar">
    <!-- Calendar -->
  </div>
  <div class="box">
    <h3>Assignments</h3>
    <!-- view checkbox options -->
    <ul class="filterSection">
      Show:
        <li>
            <input checked="true" type="checkbox" value="Tentative"/>
            <label>Tentative</label>
        </li>
        <li>
          <input checked="true" type="checkbox" value="Scheduled"/>
          <label>Scheduled</label>
        </li>
        <li>
        </br>
          <input type="checkbox" value="Happened"/>
          <label>Happened</label>
        </li>
    </ul>
    <!-- List of scheduled events + create/edit event function -->
    <ul class="list-group list-group-flush" id="itemsToFilter">
      {% for assignment_table in assignments_by_event %}
      {% if assignment_table %}
      <li
        id="assignment_{{assignment_table['event'].id}}"
        class="list-group-item {% if assignment_table['event'].status == 'Canceled' or assignment_table['event'].status == 'Happened'%} hideItem {% endif %}"
        data-type="{{assignment_table['event'].status}}"
        style="border-color: {{ event_colors[assignment_table['event'].status] }}; border-width: 3px;"
      >
        <input
          type="checkbox"
          class="assignment-checkbox"
          assignment-id = "{{ assignment_table['event'].id }}"
          value = "{{assignment_table['event'].status}}"
        >
        <strong>{{assignment_table['event'].title}}</strong><br>
        <strong>Date: </strong></br>{{assignment_table['assignments'][0].formatted_start_date}} - {{assignment_table['assignments'][0].formatted_end_time}}<br>
        <div> <strong>Trainers: </strong><ul style="padding-left: 20px;">{% for trainer in assignment_table['trainers'] %}<li> <u>{{trainer["role"]}}</u>: {{trainer["trainer"].nickname}}</br> (<i>ID: {{trainer["trainer"].id}}</i>)</li>{% endfor %}</ul></div>
        <div class="assignment-details">
          <strong>Status: </strong><div class="update-status {{assignment_table['event'].status}}" style="display: inline-block;"><strong>{{assignment_table['event'].status}}</strong></div></br>
          <strong>Admin notes:</strong><br>
          <p>{{assignment_table['event'].admin_notes}}</p>
            <form id = "email-form" style="display:inline-block;" action="mailto:{% for trainer in assignment_table['trainers'] %}{{trainer['trainer'].email}}{% if not loop.last %},{% endif %}{% endfor %}?subject=CCAS: Are you available to volunteer for this event?" method="post" enctype="text/plain">
              <input type="submit" class="email" value="Email assigned trainers">
              </form>
              <form id = "email-all-form" style="display:inline-block;" action="mailto:{% for trainer in trainers %}{{trainer.email}}{% if not loop.last %},{% endif %}{% endfor %}?subject=CCAS: Volunteers needed!" method="post" enctype="text/plain">
                <input type="submit" class="email" value="Email all trainers" style="background-color: red;">
                </form>
        </div>
    <script>
        let trainersArray_{{assignment_table['event'].id}} = [];
        let leader_{{assignment_table['event'].id}} = "";

        {% for trainer in assignment_table["trainers"] %}
            var trainerInfo = '{{trainer["trainer"].nickname }} (ID: {{trainer["trainer"].id}})';
            if ('{{trainer["role"]}}' === "Trainer"){
              trainersArray_{{assignment_table['event'].id}}.push(trainerInfo);
            }
            else{
              leader_{{assignment_table['event'].id}} = trainerInfo;
            }
        {% endfor %}
    </script>
    <div class="button-container">
      <button title="Details" id="detail_{{assignment_table['event'].id}}"class="show-event-details" onClick="showOrHideDropdown(this.id,'assignment','expand')">&#128899;</button>
        <button title="Edit event" class="update-assignment-option" onClick="showEditModalfunction({eventId : {{ assignment_table['event'].id }}, title : '{{ assignment_table['event'].title }}', learners: {{ assignment_table['event'].num_learners }} , startDate : '{{assignment_table['assignments'][0].start_date }}', endDate :  '{{assignment_table['assignments'][0].end_date}}' , formatted_start_date : '{{ assignment_table['assignments'][0].formatted_start_date }}',formatted_end_time : '{{ assignment_table['assignments'][0].formatted_end_time  }}',eventStatus : '{{ assignment_table['event'].status }}',adminNotes : '{{ assignment_table['event'].admin_notes }}',leader:leader_{{assignment_table['event'].id}},trainers : trainersArray_{{assignment_table['event'].id}}})"><img width="16" height="16" src="https://img.icons8.com/metro/26/pencil.png" alt="Edit event"/></button>
    </div>
        <div id="assignment_detail_{{ assignment_table['event'].id }}" style="display:none;">
          <p>Contact name: {{assignment_table['event'].name}}</br>
          Email: {{assignment_table['event'].email}}</br>
          Phone: {{assignment_table['event'].phone}}</br>
          Desired training types: {{assignment_table['event'].training_types}}</br>
          Mission: {{assignment_table['event'].mission}}</br>
          # learners: {{assignment_table['event'].num_learners}}</br>
          Learners: {{assignment_table['event'].learners}}</br>
          Location: {{assignment_table['event'].place}}</br>
          Chairs/tables: {{assignment_table['event'].chairs_tables}}</br>
          Cultural considerations: {{assignment_table['event'].cultural}}</br>
          Content concerns: {{assignment_table['event'].content_concerns}}</br>
          Music: {{assignment_table['event'].music}}</br>
          Photography permission: {{assignment_table['event'].photos}}</br>
          Additional info: {{assignment_table['event'].other_info}}
        </p>
        </div>
      </li> 
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="modal fade" id="detail-expand">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Title</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form id="create-assignment" autocomplete="off" name="create-assignment" action="/submit-assignment" method="POST">
            <input type="hidden" name="create-assignment" value="1">
            <strong>Request date:</strong>
            <div class="time" style="display: inline-block;">Event Time</div></br>
            <strong>Estimated learners: </strong><div class="numLearners" style="display: inline-block;"></div></br>
            <div class="tab">
              <button id="add-trainers-button" class="tablinks active" onclick="openTab(event, 'add-trainers')" type="button">Trainers</button>
              <button id="add-manikins-button" class="tablinks" onclick="openTab(event, 'add-manikins')" type="button">Manikins</button>
              <button id="add-resources-button" class="tablinks" onclick="openTab(event, 'add-resources')" type="button">Other Resources</button>
            </div>
            <div id="add-trainers" class="tabcontent">
              <strong>Target # of trainers: </strong><div class="targetTrainers" style="display: inline-block;"></div></br>
              <div class="description"></div>
              <input type="hidden" id="assignment-event-id" name="event-id" value="hi">
              <input type="hidden" id="assignment-start-date" name="start-date" value="">
              <input type="hidden" id="assignment-end-date" name="end-date" value="">
              <input type="hidden" id="assignment-formatted-start-date" name="formatted-start-date" value="">
              <input type="hidden" id="assignment-formatted-end-time" name="formatted-end-time" value="">
              <a name="open-advanced-search" data-toggle="modal" href="#modal2" class="btn btn-primary">Search for trainers</a>
              <div class="assign-trainers">
                <div id="trainer-slots" class="trainer-slots">
                  <div class="leader-search" style="display: flex; align-items: center;">
                    <div class="autocomplete" style="width:300px;display: flex; align-items: center;">
                      <p style="margin: 7px;">Leader</p>
                      <input class="leaderInput" type="text" name="leader-slot" placeholder="Enter team lead">
                    </div>
                  </div>
                  <div class="trainer-search" style="display: flex; align-items: center;">
                    <div class="autocomplete" style="width:300px;display: flex; align-items: center;white-space: nowrap;">
                      <label class = "slot-label" style="margin: 7px;">Trainer</label>
                      <input class="trainerInput" type="text" name="trainer-slot[]" placeholder="Enter trainer">
                    </div>
                  </div>
                </div>
                <button type="button" id="add-trainer-slot">+</button></div><br>
            </div>
            <div id="add-manikins" class="tabcontent" style="display:none; height:100%;">
              <input type="hidden" id="assignment-event-id" name="event-id" value="hi">
              <input type="hidden" id="assignment-start-date" name="start-date" value="">
              <input type="hidden" id="assignment-end-date" name="end-date" value="">
              <input type="hidden" id="assignment-formatted-start-date" name="formatted-start-date" value="">
              <input type="hidden" id="assignment-formatted-end-time" name="formatted-end-time" value="">
              <a name="open-advanced-search2" data-toggle="modal" href="#modal3" class="btn btn-primary">Search for resources</a>
              <div class="assign-resources">
                <div id="resource-slots" class="resource-slots">
                  <div class="resource-search" style="display: flex; align-items: center;">
                    <div class="autocomplete" style="width:300px;display: flex; align-items: center;white-space: nowrap;">
                      <label class = "slot-label" style="margin: 7px;">Resource</label>
                      <input class="resourceInput" type="text" name="resource-slot[]" placeholder="Enter resource">
                    </div>
                  </div>
                </div>
                <button type="button" id="add-resource-slot">+</button></div><br>
              </div>
            <div id="add-resources" class="tabcontent"></div>
            </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <strong>Event time:&ensp;</strong>
          <input type="time" name="start_time" required />
          <label for="event_date" style="font-weight: normal;">to</label>
          <input type="time" name="end_time" required />
          <button type="submit" form = "create-assignment" id="assignment_submit" class="btn btn-primary">Create tentative event</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="update-assignment">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Title</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form id="update-assignment-form" autocomplete="off" name="update-assignment-form" action="/update-assignment" method="POST">
            <input type="hidden" name="update-assignment" value="1">
            <div class="time" style="font-weight: bold">Event Time</div>
            <div class="numLearners"></div>
            <div class="description"></div>
            <input type="hidden" id="update-assignment-event-id" name="event-id" value="">
            <input type="hidden" id="update-assignment-start-date" name="start-date" value="">
            <input type="hidden" id="update-assignment-end-date" name="end-date" value="">
            <input type="hidden" id="update-assignment-formatted-start-date" name="formatted-start-date" value="">
            <input type="hidden" id="update-assignment-formatted-end-time" name="formatted-end-time" value="">
            <a name="open-advanced-search" data-toggle="modal" href="#modal2" class="btn btn-primary">Search for trainers</a>
            <div class="assign-trainers">
              <div id="update-trainer-slots" class="trainer-slots">
                <div class="update leader-search" style="display: flex; align-items: center;">
                  <div class="autocomplete" style="width:300px;display: flex; align-items: center;">
                    <p style="margin: 7px;">Leader</p>
                    <input class="leaderInput" type="text" name="leader-slot" placeholder="Enter team lead">
                  </div>
                </div>
                <div class="update trainer-search" style="display: flex; align-items: center;">
                  <div class="autocomplete" style="width:300px;display: flex; align-items: center;">
                    <label id = "slot-label" style="margin: 7px;">Trainer</label>
                    <input class="trainerInput" type="text" name="trainer-slot[]" placeholder="Enter trainer">
                  </div>
                </div>
              </div>
              <button type="button" id="update-add-trainer-slot">+</button>
            </div>
            <strong>Status:</strong> 
            <select name="update_assignment_status">
              <option id="current-status" value="" selected hidden>Text content</option>
              <option value="New">New</option>
              <option value="Confirmed">Confirmed</option>
              <option value="Tentative">Tentative</option>
              <option value="Scheduled">Scheduled</option>
              <option value="Happened">Happened</option>
              <option value="Canceled">Canceled</option>
            </select><br>
            <strong>Admin notes:</strong><br>
            <textarea id="admin_notes_input" name="admin_notes_input" rows="4" cols="50" style="font-size:10px;">Note</textarea><br>
          </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" form = "update-assignment-form" id="update-assignment-submit" class="btn btn-primary">Update event</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal2">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Available trainers</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div><div class="container"></div>
          <div class="modal-body advancedSearch">
            <iframe src="/advancedsearch" id="advancedSearch" allowTransparency="true" frameborder="0" ></iframe>
         </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn">Close</button>
            <a id="selectBtn" href="#" class="btn btn-primary">Assign trainers</a>
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="modal3">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Available resources</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div><div class="container"></div>
          <div class="modal-body advancedSearch">
            <iframe src="/resourceSearch" id="resourceSearch" allowTransparency="true" frameborder="0" style="width:100%; height:62vh;"></iframe>
         </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn">Close</button>
            <a id="resourceBtn" href="#" class="btn btn-primary">Assign resources</a>
          </div>
        </div>
      </div>
  </div>
</div>
<div>
  <br />
  <br />
</div>
{% endblock %}
