{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
<script type="module" src="{{url_prefix}}/static/scripts/trainer.js"></script>
<div class="form-container">
  <div class="trainer_intro_faq" style="max-width:1000px;">
    <h2>Center for Cardiac Arrest Survival Volunteer Application</h2>
    Thank you for your interest in volunteering with the Center for Cardiac Arrest Survival (CCAS).
  Our team at CCAS works hard to empower communities by teaching lifesaving skills such as CPR, AED,
  Stop the Bleed!, and Narcan administration. Please see below to apply and to answer
  general questions. For anything else, please email ccas@pitt.edu </br>
  
  <strong>What do CCAS events look like and what do volunteers do?</strong></br>
  CCAS events can be divided into 2 main types. 1.) The first type is a classroom style training in
  which we split time between a discussion and a practical at a ratio of 50:50. We mainly teach adult
  Hands-Only CPR/AED, so the approximate timeline would be 35 minutes discussing the topic and 35
  minutes practicing. 2.) The second type of event would be a health fair, at which we would teach
  individuals as they visit our booth in 15-minute segments (with additional time for additional skills).
  The primary responsibilities of a CCAS volunteer include event set-up, introduction to the crowd,
  enacting a cardiac arrest event if comfortable/applicable, hands on instructing of life saving skills during
  the practical portion of events, and clean-up. Trainers manage a group during the practical, observe skill
  practice, and provide feedback such as “your rate is good, just push deeper and you're set” or “don't
  forget to lock your elbows, you will use less energy this way”. </br>
  
  <strong>What certification/clearances do I need to start?</strong></br>
  To volunteer with CCAS, you must have:
  <ul>
    <li>Act 33 Clearance (CY113): https://www.compass.state.pa.us/cwis/public/home (click on create
      individual account) we ask that you forward your results to us at ccas@pitt.edu </li>
    <li>Act 34 Clearance (EPATCH)- we handle this one </li>
  </ul>
  <strong>What if I am asked a question that I don’t know the answer to? </strong></br>
  During events, participants tend to have a lot of questions, especially once we break up into
  smaller groups for the practical. It is common for them to ask about specifics you may not have learned in
  a standard BLS class or never thought to question yourself. It is okay to say, “I don’t know”, and direct
  them to someone who might, such as a supervising doctor at that training, CCAS staff, or if it relates with
  their health- their own doctor.</br>
  
  <strong>What if I need to cancel my signup for an event?</strong></br>
  We understand that life happens. If you need to cancel, please email ccas@pitt.edu as soon as you
  know you need to cancel, or if it is a possibility so we can plan someone to take your place. If you cancel
  twice within 48 hours in a 3-month period, we will suspend your volunteer status temporarily. We need to
  respect the time of those hosting events as much as we need to respect our own. If you miss due to illness
  and you have a doctor's note, that can be submitted to exempt a cancellation.</br>
  
  <strong>What should I wear?</strong></br>
  Given that we do work in a variety of school settings, and have children present in events outside
  of schools, we ask that your clothing does not contain profanity or disturbing/graphic imagery. If you
  have a CCAS shirt we encourage trainers to wear them during events, but do not require them, especially
  in warmer weather because they are long-sleeved shirts.
  Trainers are gifted a CCAS shirt once they have worked 5 events with us.<br>
  <strong>What's next?</strong></br>
  Once your clearances are approved, we will send you the CCAS calendar link, which updates
  automatically. If you want to sign up for an event, please let the Project Coordinator know via email
  (ccas@pitt.edu) and you will be signed up. Please note some events are limited to how many trainers they
  can have.
  Once signed up, you will receive an Outlook calendar invite, as well as a reminder email 3 days
  before an event. We ask that you come to all events 20 minutes prior to the start time for the Pre-Event
  Huddle and setup. 
  </div><br>
    <div id="submit_trainer">
        <h3 align="center">Volunteer Application</h1>
        <form id = "trainer_form" action="/submit-trainer" method="POST">
          <input type="hidden" name="trainer_form" value="1">
          <label for="trainer_name" style="font-weight: bold;">Please provide your full name (for ACT 34 clearance)*:</label>
          <input type="text" id="trainer_name" name="trainer_name" maxlength="50" required /><br />
          <label for="trainer_nickname" style="font-weight: bold;">Enter your preferred name*:</label>
          <input type="text" id="trainer_nickname" name="trainer_nickname" maxlength="50" required/><br />
          <label for="trainer_bd" style="font-weight: bold;">Please provide your date of birth (for ACT 34 clearance)*:</label>
          <input id = "trainer_bd" type="date" name="trainer_bd" required /><br />
          <label for="trainer_pronouns" style="font-weight: bold;">Preferred pronouns*:</label>
          <input type="text" id="trainer_pronouns" name="trainer_pronouns" maxlength="50" required/><br />
          <label for="trainer_phone" style="font-weight: bold;">Phone Number*:</label>
          <input type="text" id="trainer_phone" name="trainer_phone" maxlength="16" required><br />
          <label for="text_or_call" style="font-weight: bold;">Do you prefer texts or calls?*</label>
          <input type="text" id="text_or_call" name="text_or_call" maxlength="16" required><br />
          <label for="trainer_email" style="font-weight: bold;">Email*:</label>
          <input type="text" id="trainer_email" name="trainer_email" maxlength="50" required /><br />
          <label for="trainer_race">Race/ethnicity (optional)</label>
          <input type="text" id="trainer_race" name="trainer_race" maxlength="100"></br>
          <label for="how_did_you_hear">How did you hear about us?</label><br>
          <textarea
          id="how_did_you_hear"
          name="how_did_you_hear"
          rows="2"
          cols="50"
          maxlength="1500"
        > </textarea></br>
          <label for="trainer_education">Are you a student? If so, what level of education are you pursuing?</label><br>
          <input type="text" id="trainer_education" name="trainer_education" maxlength="100"><br /><br>
          <div id = ls_skills_background>Any Lifesaving Skills background?<br />
            <input type="checkbox" id="red_cross_certification" name="ls_skills_background[]" value="Red Cross Certification">
            <label for="red_cross_certification">Red Cross Certification</label><br>
            <input type="checkbox" id="red_cross_instructor" name="ls_skills_background[]" value="Red Cross Instructor">
            <label for="red_cross_instructor">Red Cross Instructor</label><br>
            <input type="checkbox" id="heartsaver_certification" name="ls_skills_background[]" value="Heartsaver Certification">
            <label for="heartsaver_certification">Heartsaver Certification</label><br>
            <input type="checkbox" id="heartsaver_instructor" name="ls_skills_background[]" value="Heartsaver Instructor">
            <label for="heartsaver_instructor">Heartsaver Instructor</label><br>
            <input type="checkbox" id="bls_certification" name="ls_skills_background[]" value="BLS Certification">
            <label for="bls_certification">BLS Certification</label><br>
            <input type="checkbox" id="bls_instructor" name="ls_skills_background[]" value="BLS Instructor">
            <label for="bls_instructor">BLS Instructor</label><br>
            <input type="checkbox" id="none-other" name="ls_skills_background[]" value="None/Other">
            <label for="none-other">None/Other</label><br>
          </div><br>
          <label for="relevant_experience">Any other relevant experience?</label><br>
          <textarea
          id="relevant_experience"
          name="relevant_experience"
          rows="2"
          cols="50"
          maxlength="1500"
        > </textarea><br />
          <label for="heartsaver_instructor_interest">Interest in becoming a Heartsaver Instructor?</label>
          <input type="checkbox" id="heartsaver_instructor_interest" name="heartsaver_instructor_interest"><br><br>
          <label for="trainer_availability">Describe your typical availability</label><br>
          <div id="trainer_availability" name="trainer_availability"> 
            <div id="scheduler">
              <!-- Calendar -->
            </div>
          </div><br />
                    <!-- 
          <div id="trainer-availability">
            <div class="trainer-date-time-entry">
              <label for="trainer_date">Date:</label>
              <input type="date" name="date[]" required /><br />
              <label for="trainer_date">Start time:</label>
              <input type="time" name="start_time[]" required /><br />
              <label for= "trainer_date">End Time:</label>
              <input type="time" name="end_time[]" required /><br />
            </div>
          </div>
          <button type="button" id="trainer-add-date-time">Add more dates</button>
          <script>
            document.getElementById("trainer-add-date-time").addEventListener("click", function () {
            const trainerDateTimesContainer = document.getElementById("trainer-availability");
            const trainerDateTimeEntry = document.querySelector(".trainer-date-time-entry").cloneNode(true);
            trainerDateTimesContainer.appendChild(trainerDateTimeEntry);
          });
          </script>
          -->
          <br />
          <label for="preferred_hrs_per_month">Preferred # of Hours per Month:</label>
          <input type="number" id="preferred_hrs_per_month" name="preferred_hrs_per_month" min="1" max="730">
          <br/>
          <label for="trainer_languages">List any languages other than English that you are fluent in:</label>
          <input type="text" id="trainer_languages" name="trainer_languages" maxlength="50"></br>
          <label for="other_info">Other information:</label><br />
          <textarea
            id="other_info"
            name="other_info"
            rows="4"
            cols="50"
            maxlength="1500"
          > </textarea
          ><br />
          <div id="trainer_docs">Attach any relevant certifications/documents here:</br>
            <div class="upload_docs">
              <input type="file" name="trainer_docs[]"></br>
            </div>
         </div></br>
         <button type="button" id="add-doc">Add another file</button>
          <script>
            document.getElementById("add-doc").addEventListener("click", function () {
            const docContainer = document.getElementById("trainer_docs");
            const docUpload = document.querySelector(".upload_docs").cloneNode(true);
            docContainer.appendChild(docUpload);
          });
          </script>
          <div align="center">
            <button id="trainer_submit" type="submit" form="trainer_form" class="btn btn-primary">Submit Training Availability</button>
          </div>
        </form>
        <br />
      </div>
</div>
{% endblock %}