{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <script type="module" src="{{url_prefix}}/static/scripts/trainer_info.js"></script>
    <script>
        var new_count = {{ new_count | tojson | safe }};
        var lead_count = {{ lead_count | tojson | safe }};
        var basic_count = {{ basic_count | tojson | safe }};
        var inactive_count = {{ inactive_count | tojson | safe }};
        var suspended_count = {{ suspended_count | tojson | safe }};
    </script>
    <div id="trainer-info-container" class="trainer-info-container">
      <div class="trainerFilterSection">
        <ul>
            <strong>Status</strong>
            <li>
              <input checked="true" type="checkbox" name="type" value="Team Lead"/>
              <label style="color: #4c7a02; font-weight: bold;">Team Lead ({{lead_count}})</label>
          </li>
          <li>
            <input checked="true" type="checkbox" name="type" value="Basic Trainer">
            <label style="color: #044dba; font-weight: bold;">Basic Trainer ({{basic_count}})</label>
        </li>
            <li>
                <input checked="true" type="checkbox" name="type" value="New"/>
                <label style="color: #ff7d03; font-weight: bold;">New ({{new_count}})</label>
            </li>

            <li>
              <input type="checkbox" name="type" value="Inactive"/>
              <label style="font-weight: bold;">Inactive ({{inactive_count}})</label>
          </li>
            <li>
                <input type="checkbox" name="type" value="Suspended"/>
                <label style="font-weight: bold;">Suspended ({{suspended_count}})</label>
            </li></br>
            <strong>Skills</strong>
            <li>
                <input type="checkbox" name="skill" value="CPR_AED" checked/>
                <label style="font-weight: bold;">CPR/AED</label>
            </li>
            <li>
              <input type="checkbox" name="skill" value="STB" checked>
              <label style="font-weight: bold;">Hemorrhage Control</label>
          </li>
            <li>
                <input type="checkbox" name="skill" value="Narcan" checked/>
                <label style="font-weight: bold;">Narcan</label>
            </li>
            <li>
                <input type="checkbox" name="skill" value="AHA_HS" checked/>
                <label style="font-weight: bold;">AHA Heartsaver</label>
            <li>
                  <input type="checkbox" name="skill" value="AHA_BLS" checked/>
                  <label style="font-weight: bold;">AHA BLS</label>
              </li>
            </li></br>
            <strong>Availability</strong></br>
            <label for="date" style="font-size: x-small;">Date:</label></br>
            <input type="date" name="date" style="font-size: smaller;"/></br>
            <label for= "start_time" style="font-size: x-small;">From : &ensp;</label></br>
            <input type="time" name="start_time"/></br>
            <label for= "end_time" style="font-size: x-small;">To :&emsp;&emsp;</label></br>
            <input type="time" name="end_time"/></br>
            <button id = "filterButton" onClick="">Filter</button>
            <button id = "clearButton">Clear</button>
        </ul>
      </div>
      <div class="viewTabs">
        <div class="tab">
          <button id="trainer-view-button" class="tablinks active" onclick="openTab(event, 'trainer-view')">Trainer View</button>
          <button id="calendar-view-button" class="tablinks" onclick="openTab(event, 'calendar-view')" disabled>Day View</button>
          <button id="calendar-view-all-button" class="tablinks" onclick="openTab(event, 'calendar-view-all')" disabled>Day View All</button>
        </div>
        <div id="trainer-view" class="tabcontent">
          <div class="trainerList">
            <ul class="list-group list-group-flush infoFilter trainerInfoFilter">
              {% for trainer in trainers %}
              <li
                id="trainer_{{trainer.id}}"
                data-type="{{trainer.status}}"
                class="list-group-item {% if trainer.status == 'Suspended' %} hideItem {% endif %} "
                style="display: inline-block; border-width: 3px;"
              >
              <div name="warning" warning="trainer_{{trainer.id}}" style="display:inline-block;"></div>
              <a title="Email {{trainer.nickname}}" href = "mailto: {{trainer.email}}" style="text-decoration: underline; color:black;"><strong>{{trainer.nickname}} (ID: {{trainer.id}})</strong></a><br>
              {{trainer.pronouns}}</br>
              <strong>Status: </strong><div class="update-status" style="display: inline-block;"><strong>{{trainer.status}}</strong></div><br>
                <div class = "button-container">
                  <button title= "Details" id="details_{{trainer.id}}"class="show-trainer-details" onClick="showOrHideDropdown(this.id,'trainer','expand')">&#128899;</button>
                  <button title="Edit trainer" id="{{trainer.name}}"class="update-trainer-option" onClick="showOrHideDropdown(this.id,'update_div')"><img width="16" height="16" src="https://img.icons8.com/metro/26/pencil.png" alt="Edit trainer"/></button></div>
              <div id="update_div_{{ trainer.name }}" style="display:none;">
                <form id="update_form_{{ trainer.name }}"  name="update_trainer_form" action="/update-trainer" method="POST">
                  <input type="hidden" name="update_trainer_form" value="1">
                  <input type="hidden" name="update_id" value="{{trainer.id}}">
                  <strong>Update status:</strong><br>
                  <select name="status" id="status_{{trainer.name}}">
                    <option value="{{trainer.status}}" selected hidden>{{trainer.status}}</option>
                    <option value="Team Lead">Team Lead</option>
                    <option value="Basic Trainer">Basic Trainer</option>
                    <option value="New">New</option>
                    <option value="Inactive">Inactive</option>
                    <option value="Suspended">Suspended</option>
                  </select><br>
                  <strong>Update skills:</strong><br>
                    <input type="checkbox" value="CPR_AED" name="CPR_AED" {% if trainer.CPR_AED %}checked{% endif %}>
                    <label>CPR/AED</label><br>
                    <input type="checkbox" value="STB" name="STB" {% if trainer.STB %}checked{% endif %}>
                    <label>Hemorrhage Control</label><br>
                    <input type="checkbox" value="Narcan" name="Narcan" {% if trainer.Narcan %}checked{% endif %}>
                    <label>Narcan</label><br>
                    <input type="checkbox" value="AHA_HS" name="AHA_HS" {% if trainer.AHA_HS %}checked{% endif %}>
                    <label>AHA Heartsaver Instructor</label><br>
                    <input type="checkbox" value="AHA_BLS" name="AHA_BLS" {% if trainer.AHA_BLS %}checked{% endif %}>
                    <label>AHA BLS Instructor</label><br>
                  <strong>Update admin notes:</strong><br>
                  <textarea id="admin_trainer_notes" name="admin_trainer_notes" rows="4" cols="50" style="font-size:10px;">{{trainer.admin_notes}}</textarea><br>
                  <button type="submit" form = "update_form_{{ trainer.name }}" id="update_submit_{{ trainer.name }}" class="btn btn-primary">Update trainer</button>
                </form>
              </div>
              <div class="trainer-details">
                <div id="trainer_details_{{ trainer.id }}" style="display:none;">
                  <p>
                  Full name: {{trainer.name}}</br>
                  Date of birth: {{trainer.date}}</br>
                  Race/ethnicity: {{trainer.race_ethnicity}}</br>
                  How did you hear: {{trainer.how_did_you_hear}}</br>
                  Email: {{trainer.email}}</br>
                  Phone: {{trainer.phone}}</br>
                  Call or text: {{trainer.text_or_call}}</br>
                  Student? {{trainer.education}}</br>
                  Lifesaver skills: {{trainer.lifesaver_skills}}</br>
                  Relevant experience: {{trainer.relevant_exp}}</br>
                  Heartsaver interest: {{trainer.heartsaver_interest}}</br>
                  Other languages: {{trainer.languages}}</br>
                Preferred hours per month: {{ trainer.hrs_per_month }}<br>
                Other info:<br>
                {{ trainer.other_info }}
                <ul>
                <strong>Skills:</strong>
                {% if trainer.CPR_AED %}
                <li skill="CPR_AED" trainer="trainer.id">CPR/AED</li>
                {% endif %}
                {% if trainer.STB %}
                <li skill="STB" trainer="trainer.id">Hemorrhage Control</li>
                {% endif %}
                {% if trainer.Narcan %}
                <li skll="Narcan" trainer="trainer.id">Narcan</li>
                {% endif %}
                {% if trainer.AHA_HS %}
                <li skill="AHA_HS" trainer="trainer.id">AHA Heartsaver</li>
                {% endif %}
                {% if trainer.AHA_BLS %}
                <li skill="AHA_HS" trainer="trainer.id">AHA BLS</li>
                {% endif %}
              </ul>
                <strong>Admin notes:</strong><br>
                {{ trainer.admin_notes }}<br>
                </p>
                </div>
              </div>
              </li> 
              {% endfor %}
            </ul>
          </div>
        </div>
        <div id="calendar-view" class="tabcontent" style="display:none; height:100%;">
          <iframe id="availabilitySummaryIframe" page="trainer_info" allowTransparency="true" frameborder="0" style="width:100%;height:100vh;"></iframe>
        </div>
        <div id="calendar-view-all" class="tabcontent" style="display:none; height:100%;">
          <iframe id="allIframe" page="trainer_info" allowTransparency="true" frameborder="0" style="width:100%;height:100vh;"></iframe>
        </div>
      </div>
{% endblock %}>