{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
  <script type="module" src="{{url_prefix}}/static/scripts/request.js"></script>
<div class="form-container">
<div id="submit_event" style="max-width: 850px; font-weight: bold;">
  <div style="text-align: center;"><h2>Request a Training Event</h2></div>
  <form id = "event_form" action="/submit-event" method="POST">
    <input type="hidden" name="event_form" value="1">
    <label for="event_name">Name of Person Making the Request*:</label>
    <input type="text" id="event_name" name="event_name" maxlength="50" required/><br />
    <label for="event_email">Email*:</label>
    <input type="text" id="event_email" name="event_email" maxlength="50" required/><br />
    <label for="event_phone">Phone Number*:</label>
    <input type="text" id="event_phone" name="event_phone" maxlength="16" required>
    <label for="event_title" style="font-weight: normal;">Your Organization:</label>
    <input type="text" id="event_title" name="event_title" maxlength="50"/><br /><br>
    <label for="training_types" style="font-weight: normal;">Type of Training Requested (select any that apply):</label>
</br>
<div id = training_types>
    <input type="checkbox" id="classroom_cpr_aed" name="training_type[]" value="Hands-only Adult CPR/AED - Classroom setting">
    <label for="classroom_cpr_aed" style="font-weight: normal;">Hands-only Adult CPR/AED - Classroom setting (45-60 minutes)</label><br>
    <input type="checkbox" id="fair_cpr_aed" name="training_type[]" value="Hands-only Adult CPR/AED - Street/Health Fair">
    <label for="fair_cpr_aed" style="font-weight: normal;">Hands-only Adult CPR/AED - Street/Health Fair (teach a skill in 5 minutes)</label><br>
    <input type="checkbox" id="heartsaver" name="training_type[]" value="Heartsaver CPR/AED/FA">
    <label for="heartsaver" style="font-weight: normal;">Heartsaver CPR/AED/First-Aid (AHA Certification, 2 hours. This training comes with a cost)</label><br>
    <input type="checkbox" id="child_infant_cpr" name="training_type[]" value="Child/Infant CPR">
    <label for="child_infant_cpr" style="font-weight: normal;">Child/Infant CPR (If added to adult training, 30 minutes. Otherwise, 60 minutes.)</label><br>
    <input type="checkbox" id="narcan" name="training_type[]" value="Narcan">
    <label for="narcan" style="font-weight: normal;">Narcan (5-10 minutes)</label><br>
    <input type="checkbox" id="hemorrhage_informal" name="training_type[]" value="Hemorrhage Control">
    <label for="hemorrhage_informal" style="font-weight: normal;">Hemorrhage Control (20 minutes)</label><br>
    <input type="checkbox" id="hemorrhage_formal" name="training_type[]" value="Stop the Bleed">
    <label for="hemorrhage_informal" style="font-weight: normal;">Stop the Bleed (60 minutes)</label><br>
    <input type="checkbox" id="idk" name="training_type[]" value="I don't know">
    <label for="idk" style="font-weight: normal;">I don't know</label><br>
  </div>
  </br>
    <div id="availability">
      <h5><strong>Select your date(s) of availability:</strong></h5><br>
      <div id="request_calendar"></div>
    </div>
    <br />
  </br>
  <div style="text-align: left;">
  <label for="event_mission" style="font-weight: normal;">1. What is your group's mission?</label><br />
    <textarea
      id="event_mission"
      name="event_mission"
      rows="3"
      cols="100"
      maxlength="500"
    ></textarea><br><br />
    <label for="num_learners">2. Approximately how many learners will there be?&ensp;</label>
      <input type="number" id="num_learners" name="num_learners" min="1" required style="width: 8ch;"><br><br />
    <label for="event_learners" style="font-weight: normal;">2b. What is their age range? Any medical backgrounds?</label><br />
    <textarea
      id="event_learners"
      name="event_learners"
      rows="3"
      cols="100"
      maxlength="500"
    ></textarea><br><br />
    <label for="event_place">3. Where will the event be? Is there parking?*</label><br />
    <textarea
      id="event_place"
      name="event_place"
      rows="3"
      cols="100"
      maxlength="500"
      required
    ></textarea><br><br />
    <label for="event_chairs_tables">4. Will there be tables and chairs?*</label><br />
    <textarea
      id="event_chairs_tables"
      name="event_chairs_tables"
      rows="3"
      cols="100"
      maxlength="300"
      required
    ></textarea><br><br />
    <label for="event_cultural" style="font-weight: normal;">5. Any cultural considerations we should account for? We strive for racial concordance goals when possible - what should we be mindful of?
</label><br />
    <textarea
      id="event_cultural"
      name="event_cultural"
      rows="3"
      cols="100"
      maxlength="500"
    ></textarea><br><br />
    <label for="event_content_concerns" style="font-weight: normal;">6. We generally teach hands-only CPR but would recommend rescue breathing for children. We also generally discuss Narcan. For AED instruction, we teach to take the clothes off of a patient. Our trainings include both male and female mannequins. Please let us know if you have any concerns over any of these topics.
    </label><br />
        <textarea
          id="event_content_concerns"
          name="event_content_concerns"
          rows="3"
          cols="100"
          maxlength="500"
        ></textarea><br><br />
    <label for="event_music" style="font-weight: normal;">7. Sometimes we play music- any preference or anything to stay away from?
    </label><br />
        <textarea
          id="event_music"
          name="event_music"
          rows="3"
          cols="100"
          maxlength="300"
        ></textarea><br><br />
    <label for="event_photos" style="font-weight: normal;">8. Permission to take photos for our social media? Any accounts we should tag?
    </label><br />
        <textarea
          id="event_photos"
          name="event_photos"
          rows="3"
          cols="100"
          maxlength="200"
        ></textarea><br><br />
    <label for="event_other_info" style="font-weight: normal;">9. Any other information we should know?</label><br />
    <textarea
      id="event_other_info"
      name="event_other_info"
      rows="3"
      cols="100"
      maxlength="1500"
    ></textarea
    ><br />
  </div>
    <div align="center">
      <button type="submit" form = "event_form" class="btn btn-primary">Submit Event</button>
    </div>
  </form>
  <br />
</div>
</div>
<div class="modal fade" id="modal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <strong>Select your preferred time of day:</strong></br>
          <select id="timeOfDay">
            <option value="Morning">Morning</option>
            <option value="Afternoon">Afternoon</option>
            <option value="Evening">Evening</option>
          </select></br><br>
          <strong>Or provide a specific time frame:</strong></br>
          <input type="text" id="startStr" hidden/>
          <input type="text" id="endStr" hidden/>
          <input type="text" id="start" hidden/>
          <input type="text" id="end" hidden/>
          <input type="time" id="start_time"/>
          <label for="event_date" style="font-weight: normal;">to</label>
          <input type="time" id="end_time"/><br>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn">Close</button>
          <a id="selectBtn" href="#" class="btn btn-primary">Add date</a>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="delete-modal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <strong>Select your preferred time of day:</strong></br>
          <select id="timeOfDay">
            <option value="Morning">Morning</option>
            <option value="Afternoon">Afternoon</option>
            <option value="Evening">Evening</option>
          </select></br><br>
          <strong>Or provide a specific time frame:</strong></br>
          <input type="text" id="startStr" hidden/>
          <input type="text" id="endStr" hidden/>
          <input type="text" id="start" hidden/>
          <input type="text" id="end" hidden/>
          <input type="time" id="start_time"/>
          <label for="event_date" style="font-weight: normal;">to</label>
          <input type="time" name="end_time" id="end_time"/><br>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn">Close</button>
          <a id="selectBtn" href="#" class="btn btn-primary">Add date</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}